version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: 'docker'
    # Look for `package.json` and `lock` files in the `root` directory
    directory: '/'
    # Check the npm registry for updates week
    schedule:
      interval: 'weekly'

  # Enable version updates for actions
  - package-ecosystem: 'github-actions'
    # Look for `package.json` and `lock` files in the `root` directory
    directory: '.github/workflows/'
    # Check the npm registry for updates every week
    schedule:
      interval: 'monthly'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily
