version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: weekly
    assignees:
      - rajbos

  # Enable version updates for docker (if that works)
  - package-ecosystem: 'docker'
    directory: '/'
    schedule:
      interval: monthly
    assignees:
      - rajbos

  # Enable version updates for actions
  - package-ecosystem: 'github-actions'
    directory: '.github/workflows/'
    schedule:
      interval: monthly
    assignees:
      - rajbos

  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: monthly
    assignees:
      - rajbos
